<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <style>

        .container{
            text-align: center;
            margin-top: 200px;
        }

        .box {
            width: 200px;
            height: 200px;
            background-color: blue;
            margin: 20px;
            display: inline-block;
            border-radius: 5%;
        }

    </style>
</head>
<body>

    <div class="container">
        <h1>Welcome!</h1>
        {% for x in range(num) %}
        <div class="box"></div>
        {% endfor %}
    </div>

    </body>
</html>